.avalonia-build-tasks
Element
Thunar
WebCord
autostart
cef_user_data
composer
dconf
fontforge/plugin
g/index
gconf/apps
htop
input-remapper-2
jgit
keepassxc
lazygit
libreoffice/4/user
menus/applications-merged
nekoray/config
pnpm
pulse
pypoetry
qBittorrent
qView
rncbc.org
simple-update-notifier
syncthing
systemd/user
vlc
xfce4/xfconf/xfce-perchannel-xml
yandex-disk
ymcli
QtProject.conf
kbct.yaml
kwalletrc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
yad.conf
zoom.conf
zoomus.conf
obsidian
nvim/test
tmux/plugins/tpm
com.pot-app.desktop/logs
unity3d
Furious
xraygui
