.avalonia-build-tasks
Element
Thunar
WebCord
autostart
cef_user_data
composer
dconf
fontforge/plugin
g/index
gconf/apps
htop
input-remapper-2
jgit
keepassxc
lazygit
libreoffice/4/user
menus/applications-merged
nekoray/config
pnpm
pulse
pypoetry
qBittorrent
qView
rncbc.org
simple-update-notifier
syncthing
systemd/user
vlc
xfce4/xfconf/xfce-perchannel-xml
yandex-disk
ymcli
QtProject.conf
kbct.yaml
kwalletrc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
yad.conf
zoom.conf
zoomus.conf
obsidian
nvim/test
tmux/plugins/tpm
com.pot-app.desktop/logs
unity3d
Furious
xraygui
Trolltech.conf
akregatorrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kglobalshortcutsrc
krunnerrc
kscreenlockerrc
ktimezonedrc
kwinrc
kwinrulesrc
plasma-localerc
flameshot
micro
slock
com.pot-app.desktop
google-chrome
qtile/modules/__pycache__
qtile/__pycache__
PortProton.conf
microsoft-edge/NativeMessagingHosts
chromium/NativeMessagingHosts
BraveSoftware/Brave-Browser/NativeMessagingHosts
vivaldi/NativeMessagingHosts
ranger/plugins/__pycache__
ranger/plugins/ranger_devicons/__pycache__
ranger/colorschemes/__pycache__/__init__.cpython-311.pyc
ranger/colorschemes/__pycache__/default.cpython-311.pyc
tmux/plugins
nvim/lazy-lock.json
qtile/modules/custom_widgets/__pycache__
flutter
BraveSoftware/Brave-Browser
kioslaverc
paradox-launcher-v2
clight-gui
discord
eww
fusuma
gtk-3.0/bookmarks
kanshi
lightdm
obs-studio
qalculate
qutebrowser
rice
tg
clight.conf
Code - OSS
github-copilot
typstfmt
Electron
kfontviewrc
Vencord
blockify
discord_desktop_core/Crashpad
spicetify/CustomApps
spotify
vesktop
GitKraken
protonmail/bridge-v3
spotifyd
ncspot/userstate.cbor
VirtualBox
@proton/cli-nodejs
Min
Beeper
Proton Mail
proton-mail-viewer
spotify-tui/.spotify_token_cache.json
spotify-tui/client.yml
fish/conf.d
proxy.json
vpn.json
Bitwarden
gh
eww_back
go/telemetry/local
swappy
libreoffice/4/cache/elementary/200
chromium
google-chrome-for-testing/Crash Reports
spicetify
Bitwarden CLI
coc
