layout {
    pane split_direction="horizontal" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode}#[fg=black,bg=#89B8E3,bold]{session}  #[fg=#89B8E3,bg=#0a080f]{tabs}"
            format_right "#[fg=#0a080f,bg=#c1def3]{datetime}"
            format_space "#[bg=#0a080f]"

            hide_frame_for_single_pane "true"

            mode_normal  "#[bg=blue] "

            tab_normal              "#[fg=#0a080f,bg=#879baa] #[fg=black,bg=#879baa]{index}  {name} #[fg=#4C4C59,bg=#0a080f]"
            tab_normal_fullscreen   "#[fg=#6C7086,bg=#0a080f] {index} {name} [] "
            tab_normal_sync         "#[fg=#6C7086,bg=#0a080f] {index} {name} <> "
            tab_active              "#[fg=#0a080f,bg=#c1def3,bold,italic] {index}  {name} #[fg=#ffffff,bg=#0a080f]"
            tab_active_fullscreen   "#[fg=#9399B2,bg=#0a080f,bold,italic] {index} {name} [] "
            tab_active_sync         "#[fg=#9399B2,bg=#0a080f,bold,italic] {index} {name} <> "


            datetime          "#[fg=#9AD1A3,bg=#c1def3,bold] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"
        }
    }
}
